---
import Copyright from "../../assets/icons/Copyright.astro";
---

<!-- Footer -->
<footer class="bg-accent p-8 flex items-center justify-center text-sm">
    <p class="flex items-center gap-2 !text-white"><Copyright /> 2025 Axl Joven. All rights reserved.</p>
</footer>
